@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: 'Noto Sans KR', sans-serif;
}
.inner{
    width: 1200px;
    margin: 0 auto;
}
img { display: inline-block; max-width:100%; height:auto; vertical-align: middle; }
.img_box   {width: 100%;}
.mo_none{display: block;}
.mo_block{display: none;}

.mo_none_g{display: block;}
.mo_block_g{display: none;}

.mo_none_s{display: block;}
.mo_block_s{display: none;}

.mo_none9{display: block;}
.mo_block9{display: none;}

.hide{
    display: none;
}
.show{
    display: block;
}


@media screen and (max-width: 768px){
    .mo_none{display: none;}
    .mo_block{display: block;}
}
@media screen and (max-width: 950px){
    .mo_none9{display: none;}
    .mo_block9{display: block;}
}
@media screen and (max-width: 1400px){
    .mo_none_g{display: none;}
    .mo_block_g{display: block;}
}
@media screen and (max-width: 499px){
    .mo_none_s{display: none;}
    .mo_block_s{display: block;}
}

html,body{font-size: 10px; margin: 0; padding: 0; height: 100%;}
 /* #container{
    position: relative;
    min-height: 100vh;
} */

/* #sub,#main{
    min-height: 100vh;
} */

/* header */
#header {
    position: fixed;
    left: 0; right:0; top: 0;
    background: linear-gradient(to bottom,  #f5f5f5 11rem, #fff 11rem, #fff 100% );
    z-index: 10;
    height: 11rem;
    transition: 0.5s;
}
#header.on{
    height: 27.6rem;
}
#header .inner{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#header .inner h1{
    line-height: 11rem;
}
#header .inner .dep01{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#header .inner ul li:hover{
    color: #194c5c;
}
#header .inner ul > .dep01_li{
    width: 16rem;
    text-align: center;
    font-size: 2rem;
    letter-spacing: -0.04em;
    font-weight: 500;
    line-height: 11rem;
}
#header .inner ul .dep02{
    position: absolute;
    top: 11rem;
    width: 16rem;
    text-align: center;
    padding: 2.5rem 0;
    display: none;
    height: 16.6rem;
    transition:background 0.3s;
}
#header .inner ul .dep02:hover{
    background: #efefef;
}
#header .inner ul .dep02 li{
    font-size: 1.5rem;
    color: #565656;
    line-height: 3rem;
    font-weight: 400;
}
#header .sub_bar{
    display: none;
}
#header .respon_menu{
    position: fixed;
    left: -20rem;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 70%;
    z-index: 9999;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    overflow-y: scroll;
}
#header .respon_menu.active{
    opacity: 1;
    visibility: visible;
    left: 0; 
}
#header .respon_menu .close_btn{
    cursor: pointer;
    position: absolute;
    right: 3rem;
    top: 3rem;
    cursor: pointer;
    width: 7%;
}
#header .respon_menu .sub_logo{
    position: absolute;
    left: 5rem;
    top: 4.5rem;
    width: 50%;
}
#header .respon_menu .sub_menu_box{
    margin-top: 19rem;
}
#header .s_m {
    border-bottom: 1px solid #e8ebf0;
}
#header .s_m p{
    padding: 2.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#header .s_m p.on .down_ic{
    transform: rotate(-180deg);
}
#header .s_m p a{
    font-size: 2.8rem;
    letter-spacing: -0.04em;
}
#header .s_m p .down_ic{
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    width: 6%;
    cursor: pointer;
}
#header .s_m ul{
    padding: 0.5rem 0;
    display: none;
    background: #efefef;
}
#header .s_m ul li{
    font-size: 2.8rem;
    padding: 0 3rem;
    color: #565656;
    margin: 2.3rem 0;
    text-align: left;
}
.respon_menu_aside{
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(0,0,0,.8);
    opacity: 0;
    visibility: hidden;
    z-index:3;
}
.body_bg .respon_menu_aside{
    opacity: 1;
    visibility: visible;
} 


/* footer */
#footer {
    /* transform: translateY(-64%); */
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
#footer .search_box{
    position: absolute;
    top: -10rem;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
}
#footer .search_box form{
    width: 100%;
    background: #fff;
    padding: 1rem 3rem;
    border-radius: 3rem;
    position: relative;
    box-shadow: 0px 0px 3rem 0px rgba(0, 0, 0, 0.3);
}
#footer .search_box form label span{
    font-size: 1.6rem;
    color: #194c5c;
    letter-spacing: -0.04em;
    padding: 0 2rem 0 1rem;
    position: relative;
    display: inline-block;
    font-weight: 700;
}
#footer .search_box form label span::after{
    position: absolute;
    content: '';
    background: #c2c2c2;
    width: 0.2rem;
    height: 2rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#footer .search_box form .submit{
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999em;
    background: url(/img/search_ic02.png) no-repeat center/cover;
    height: 2.2rem;
    width: 2.2rem;
    cursor: pointer;
}
#footer .search_box form .search_txt{
    width: 78%;
    padding: 1rem 1rem;
    margin-left: 3rem;
}
#footer .search_box form .search_txt::placeholder{
    font-size: 1.6rem;
    color: #777777;
}
#footer .footer_inner{
    background: #202020;
    padding: 3.5rem 0 4rem;
    text-align: center;
    color: #909090;
    letter-spacing: -0.04em;
}
#footer .footer_inner h6{
    font-size: 1.8rem;   
}
#footer .footer_inner p{
    font-size: 1.4rem;
    margin: 1rem 0;
}
#footer .footer_inner address{
    font-size: 1.2rem;
    color: #525252;
    font-style: normal;
}


@media screen and (max-width: 1440px){
    html,body{font-size: 9px;}
    .inner{width: 83.3333vw;}
}
@media screen and (max-width: 1200px){
    html,body{font-size: 8px;}
}
@media screen and (max-width: 950px){
    html,body{font-size: 7px;}
    #header .sub_bar{
        display: block;
        position: absolute;
        left: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
        width: 6%;
        cursor: pointer;
    }
    #header .inner{
        justify-content: center;
    }
    #header .inner .dep01{
        display: none;
    }
    #header .inner h1{
        width: 25%;
        line-height: 9rem;
    }
}
@media screen and (max-width: 768px){
    html,body{font-size: 6px;}
    #footer .search_box form .search_txt {
        width: 69%;
    }
    #footer .search_box form .search_ic{
        width: 8%;
    }    
    #header .inner h1 {
        width: 29%;
    }
}
@media screen and (max-width: 499px){
    #footer .search_box form .search_txt {
        width: 57%;
    }
}
